
.country-card{
    width:100%; 
    margin:10px auto;
    border-radius:5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


@media (min-width: 1024px) {
    .country-card{
        width:500px; 
    }
}
