

  <div class="d-flex justify-content-between container country-card">
    <!--country details here-->
       <div>
            <div class="align-left pt-3"> 
                <img style="width:50px" src={{country.flag}} alt=""> 
                <h4 class="text-primary mt-2 fs-6">{{country.name}}</h4> 
                <h4 class="text-success">{{country.capital}}, <span class="text-info">{{country.subRegion}}</span></h4>
            </div>
       </div>
       <div class="align-right v-align-center">
             <h5 class="fw-lighter">Population</h5>
             <h3>{{country.population}}</h3>
       </div>
  </div>



  
