

.search-input{
    width:100%;
    border-radius:400px;
    padding: 15px; 
    border: none;
    font-size: 16px;
    outline: none;
    color:darkgoldenrod
}


@media (min-width: 1024px) {
    .search-input{
        width:400px;
        font-size: 20px;
    }
}


