
<div class="container-fluid mt-5 mb-5 ">
    <!-- Search form field -->
    <form  *ngIf="showSearchField" class="text-center" [formGroup]="searchForm">
        <input class="search-input"  formControlName="search" placeholder="Search Country..."/>
    </form> 

    
    <div *ngIf="showSpinner">
       <mat-spinner class="h-align-center" [diameter]="60" > 
       </mat-spinner>
       <h3 class="text-center mt-5">Loading countries........</h3>
    </div>   
    
    <!-- List of countries displayed here-->
    <div class="text-center" *ngFor="let country of countries | searchCountry : searchForm.value.search">
        <app-country-card [country]="country"></app-country-card>
    </div>
   
</div>
