/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:Roboto, "Helvetica Neue", sans-serif; background-color: beige;}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.v-align-center{
    margin:auto 0;
}

.h-align-center{
    margin: 0 auto;
}
